@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
  }
  

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #5c77aa;
    color: #F6F6F6;
}

.icons {
    width: 30px;
    height: 30px;
}

.titulo-destaque{
    color: #22D4FD;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.apresentacao {
    padding: 7% 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao_conteudo_texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao_links {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulos {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao_links_links {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid rgba(34, 212, 253, 1);
    width: 378px;   
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: "Montserrat", sans-serif;
}

.apresentacao_links_links:hover {
    background-color: #272727;
}

.rodape {
    padding: 24px;
    color: #000000;
    background-color: #22D4FD;
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.line {   
    padding: 24px;
    color: #000000;
    background-color: #22D4FD;
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;    
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.backform {
  border-radius: 5px;
  background-color: #397fb8;
  padding: 20px;
}

